.bg-container {
    background-color: white;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.main-heading {
    text-align: center;
}

.users-list {
    flex-grow: 1;
    padding: 0;
}

@media (min-width: 768px) {
    .bg-container {
        padding: 10px;
    }

    .users-list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}